.title > h1 {
  font-size: 36px;
  font-weight: 600;
  color: var(--title);
  /* margin-bottom: 1rem; */
  margin: 1rem 0 1rem 0;
}

.titleDark > h1 {
  font-size: 36px;
  font-weight: 600;
  color: var(--title-light);
  /* margin-bottom: 1rem; */
  margin: 1rem 0 1rem 0;

}

#containerTable {
  height: 100%;
  width: 100%;
  border-spacing: 0px 10px;
  border-collapse: separate;
}

.containerTable {
  color: var(--text);
}

.containerTableDark {
  color: var(--text-light);
}

#containerTable > thead {
  font-weight: 700;
  font-size: 14px;
}

#containerTable > thead > tr {
  height: 3rem;
}

/* Background columns */
.containerTable > tbody > tr > td {
  background: var(--white);
}

.containerTableDark > tbody > tr > td {
  background: var(--block-dark);
}
/* --------------- */

/* Position column */
#containerTable > tbody > tr > td:nth-child(1) {
  width: 5.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 5px 0px 0px 5px;
}

.containerTable > tbody > tr > td:nth-child(1) {
  border-right: 5px solid var(--background);
}

.containerTableDark > tbody > tr > td:nth-child(1) {
  border-right: 5px solid var(--background-dark);
}
/* ------------------ */

/* User column  */
#containerTable > tbody > tr > td:nth-child(2) {
  align-items: center;
  width: 30rem;
  padding: 0 0 0 1.5rem;
}
/* ----------------- */

/* Challenge column  */
#containerTable > tbody > tr > td:nth-child(3) {
  width: 15rem;
  font-weight: 500;
  font-size: 18px;
}

.containerTable > tbody > tr > td:nth-child(3) {
  color: var(--blue);
}

.containerTableDark > tbody > tr > td:nth-child(3) {
  color: #6d6dff;
}
/* ----------------- */

/* Experience column  */
#containerTable > tbody > tr > td:nth-child(4) {
  width: 10rem;
  font-weight: 500;
  border-radius: 0px 5px 5px 0px;
  font-size: 18px;
}
.containerTable > tbody > tr > td:nth-child(4) {
  color: var(--blue);
}

.containerTableDark > tbody > tr > td:nth-child(4) {
  color: #191970;
}
/* ----------------- */

#containerTable > tbody > tr > td > div {
  display: flex;
}

#containerTable section {
  flex: 1;
  display: flex;
}

#containerTable > tbody > tr > td > section > div {
  align-items: center;
}

/* Avatar Github */
#containerTable > tbody > tr > td > section > div > img {
  align-items: center;
  width: 5.25rem;
  height: 5.25rem;
  border-radius: 50%;
  margin-right: 1rem;
}

/* User name */
#containerTable tbody > tr > td > section > div > p:nth-child(1) {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.containerTable tbody > tr > td > section > div > p:nth-child(1) {
  color: var(--title);
}

.containerTableDark tbody > tr > td > section > div > p:nth-child(1) {
  color: var(--title-light);
}
/* ----------------- */

/* Level user */
#containerTable tbody > tr > td > section > div > p:nth-child(2) {
  margin-top: 0.5rem;
}

/* Challenge and experience text */
.containerTable tbody > tr > td > div > p {
  color: var(--text);
  margin-left: 5px;
}

.containerTableDark tbody > tr > td > div > p {
  color: var(--text-light);
  margin-left: 5px;
}
/* ----------------- */

/* Arrow up image margin */
#containerTable tbody tr td p img {
  margin-right: 0.5rem;
}
